@model ICollection<TelerikMovies.Web.Models.Movie.SimpleMovieViewModel>
<div class="section">
    <div class="row">
        <div class="col s12">
            <div class="section">
               @foreach (var movie in @Model)
               {
                  <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="@Url.Action("Details","Movies",new { id=movie.Id})">
                                <img class="top-movie-img" data-id="@movie.Id" width="200" height="350" src="@movie.ImgUrl" sizes="(max-width: 305px) 100vw, 305px">    <span class="card-title home">@movie.Name</span>
                            </a>
                        </div>
                    </div>
                </div>
               } 
            </div>
        </div>
    </div>
</div>