@{
    ViewBag.Title = "Movies";
}

@using (Ajax.BeginForm("Search", "Movies",
                         new AjaxOptions
                         {
                             HttpMethod = "POST",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "movies-main-content",
                             LoadingElementId = "loader",
                             OnBegin= "return checkForm()"
                         },new  { id="movies-search-form" ,target="_self"}))
{
    <div class="fixed-action-btn toolbar white-text">
        <a id="fab-search" class="btn-floating btn-large primary-color ">
            <i class="large material-icons">search</i>
        </a>
        <ul>
            <li>
                <div class="row primary-color">
                    <div class="input-field offset-s4 col s4 center-align margin-top-02 white-text">
                        <i class="material-icons prefix medium movie-search-icon">search</i>
                        <input type="text" placeholder="Search" id="search-movies-field" name="searchValue">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    @*<div class="input-field col s6">
        <i class="material-icons prefix medium">search</i>
        <input type="text" placeholder="Search" id="search-movies-field" name="searchValue">
    </div>*@
}
<div id="movies-main-content">
    @{Html.RenderAction("RenderCarousel");}
    <div class="col s12">
        <h5 class="center-align title-shadow">Top Movies in our collection</h5>
    </div>
    @{Html.RenderAction("RenderTopMovies");}
</div>


@section scripts {
    <script src="~/Scripts/PageScripts/movies-index.js"></script>
}
@section css{
<link href="~/Content/PageCss/movies-index.css" rel="stylesheet" />
    }

