@{
    ViewBag.Title = "404";
}

<h1 class="center-align">Error 404</h1>
<div class="row">
    <div class="offset-s1 col s10">
        <img class="z-depth-5" src="~/Images/lost-season-six.jpg" style="height:100%;width:100%;opacity:0.9;">
    </div>
</div>

