body {
    font-family:Roboto;
}

.logo {
    margin-left: 1em;
    width: 50%;
    height: 50%;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}
.primary-color {
    background-color:#ab47bc;
}
.secondary-color {
    background-color:#ffd600;
}

#cover
{   
    position : fixed;
    z-index: 100;
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#spinner
{
    display:block;
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 30%;
        height: 25%;
    }
}
