body {
    font-family:Roboto;
}
.responsive-img {
    margin-top:5%;
    margin-bottom:5%;
}
.vote {
    cursor:pointer
}

.shadowed {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.title-shadow {
   text-shadow: 4px 8px 13px #000
}

.overlay {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  margin: 0;
}
.logo {
    margin-left: 1em;
    width: 50%;
    height: 50%;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.footer-button:hover,#fab-search:hover {
    background-color:#ff4081;
}
.primary-color {
    background-color:#ab47bc;
}
.secondary-color {
    background-color:#ffd600;
}
.deleted-opacity {
    opacity:0.6;
}
.movie-id {
    display:none!important;
}

.main-content {
    min-height:700px;
}
#cover
{   
    position : fixed;
    z-index: 100;
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#spinner
{
    display:block;
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
}

.border-red {
    border:2px solid red !important;
    border-radius:10px;
}

.border-green {
    border:2px solid green !important;
    border-radius:10px;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 30%;
        height: 25%;
    }
}
