.material-icons.prefix.medium.movie-search-icon.active {
    color:yellow;
}
.margin-top-02 {
    margin-top:0.2%;
}

.carousel {
    min-height:600px;
}

.carousel .carousel-item {
min-height:350px !important;
min-width:350px !important;
}

.card-title.home {
    width:100%;
    height:100px;
    padding-bottom:0;
    padding-top:0;
    font-size:1.25em;
}